body{
    padding: 0;
    margin: 0;

    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;

    
    min-height: 100vh;
}

main{
    background-image: linear-gradient(-45deg,#0a0b0c, #2b2d35);
}


.main-section-1{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;


}

.burger-shower{
    display: none;
}


.text-wrapper{

    display: flex;
    flex-direction: column;
    

    

    
    padding-left: 4%;
    padding-right: 2%;

    font-size: 2em;

    font-family: 'Courier New', Courier, monospace;

}

.text-wrapper > *{
    margin-bottom:50px;
}


.buttons-wrapper{
    display: flex;
    flex-direction: row;

    align-items: center;

    justify-content: flex-start;

    font-family: Arial, Helvetica, sans-serif;
}

.buttons-wrapper > *{
    height: 110px;

    background-color: rgb(61, 139, 61);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110%;
    text-align: center;
    text-justify: center;
}

.button1{
    color: black;
}

.button2{
    margin-left: 30px;
    background-color: rgb(16, 17, 17);
}


.main-section-2{
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

.main-section-2 > *{
 width: 25%;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 75px;
 border: solid white 1px;
 background-color: #2b2d35;
}

main{
    color: white;

    padding-top: 55px;
}

.right-side{
    width: 675px;
    padding-left: 2%;
}
picture > img{
    width: 675px;
}

picture{
    width: 100px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}